.container {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
	height: 3.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	transition-duration: 0.5s;
	margin-left: 0.25rem;
}

.logo__animate {
	display: flex;
	align-items: center;
	transition: 0.5s;
	margin-left: 0.25rem;
	border: 2px solid var(--blue-700);
	border-radius: 30%;
}

.logo__animate > svg {
	width: 40px;
	height: 40px;
}

@media screen and (min-width: 720px) {
	.logo {
		pointer-events: none;
	}
}
