.btn {
	display: inline-block;
	border: none;
	/* flex-shrink: 0; */
}

.btn:focus {
	outline-color: var(--gray-300);
}

.btn:active {
	outline: 3px solid var(--gray-300);
}

.btn-small {
	height: 2rem;
}

.btn-mid {
	height: 2.5rem;
}

.btn-big {
	height: 3rem;
}

.link {
	text-decoration: underline;
	text-decoration-color: var(--gray-300);
	cursor: pointer;
}

.link:active {
	outline-style: dotted;
	outline-width: thin;
}

.link:focus {
	outline-style: dotted;
	outline-width: thin;
}
